streamlit==1.46.1

fastapi==0.116.0
uvicorn==0.35.0

langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-groq==0.3.5

langgraph==0.5.1

groq==0.30.0

chromadb==1.0.15

sentence-transformers==5.0.0

faiss-cpu==1.11.0.post1

pypdf==5.7.0

python-dotenv==1.1.1

requests==2.32.4

pydantic==2.11.7

tiktoken==0.9
fpdf2==2.8.2